build/
.aider*
make.log
copy_compute_test
matmul2
.project
topk_kernel
output.log
retrieval_kernel
*.nsys-rep
*.sqlite
repre_compute
another_mean
memcpy_compare_threads
memcpy_graph_test
test_copy
test_copy_by_streams
test_cpu_overhead
__pycache__
test_two_stream
cuda_sm_copy
*.so
diff_map_thrust
